@import "variables";

/* home Page */
/* carousel */

.carousel-item {
    height: $alturaCarrusel !important;
    background-size: cover;
    background-position: center;
}

.principal {
    padding: $dis3 0px 0px 0px;
    h1 {
        @include titulo1 (-family, -size);
    }
    p {
        @include paragrph(-family, -size);
    }
}