@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bubblegum+Sans&family=Estonia&family=Kaushan+Script&family=Knewave&family=Licorice&family=Love+Light&family=Luxurious+Roman&family=Merienda:wght@400;700&family=Mitr:wght@200&family=Niconne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Shadows+Into+Light&family=The+Nautigal:wght@700&family=Ubuntu:ital,wght@0,300;1,300&family=Vujahday+Script&display=swap');


/* paleta de colores */
$color1: pink;
$color2: blueviolet;
$color3: #dc3545;
$color4: red;

/* tamaño del carousel*/

$alturaCarrusel: 300px;


/* tamaño fuentes */
$fsize1: 10px;
$fsize1-5:$fsize1*1.5;
$fsize2: $fsize1*2;
$fsize3: $fsize1*3;
$fsize4: $fsize1*4;
$fsize5: $fsize1*5;


/*margins - paddings*/

$dis1: 10px;
$dis2: $dis1*2;
$dis3: $dis1*3;
$dis4: $dis1*4;

/* fuentes */

$fuente1: 'Ubuntu', sans-serif; //navbar
$fuente2: 'Luxurious Roman', cursive; // parrafos
$fuente3: 'Mitr', sans-serif; //titulo
$fuente4: 'Architects Daughter', cursive; //titulo
$fuente5: 'Bubblegum Sans', cursive; //titulo
$fuente6: 'Niconne', cursive; /* nombre de los profesionales*/
$fuente7: 'Merienda', cursive; /* nombre de los profesionales*/
$fuente8: 'Kaushan Script', cursive; // nombres

/*estilos de texto */

@mixin titulo1 ($font-family, $font-size ) {
    font-family: $fuente5;
    font-size: $fsize4;
    text-align: center;
}

@mixin titulo2 ($font-family, $font-size ) {
    font-family: $fuente5;
    font-size: $fsize3;
    text-align: center;   
}

@mixin titulo3 ($font-family, $font-size ) {
    font-family: $fuente5;
    font-size: $fsize4;
    text-decoration: underline 1px;
}

@mixin paragrph($font-family, $font-size ) {
    font-family: $fuente4;
    font-size: $fsize2;
}

@mixin cardtitle ($font-family, $font-size ) {
    font-family: $fuente8;
    font-size: $fsize3;
    color: $color2;
}