@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bubblegum+Sans&family=Estonia&family=Kaushan+Script&family=Knewave&family=Licorice&family=Love+Light&family=Luxurious+Roman&family=Merienda:wght@400;700&family=Mitr:wght@200&family=Niconne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Shadows+Into+Light&family=The+Nautigal:wght@700&family=Ubuntu:ital,wght@0,300;1,300&family=Vujahday+Script&display=swap");
/* paleta de colores */
/* fuentes */
/* tamaño fuentes */
/*margins - paddings*/
/* fuentes */
/* nombre de los profesionales*/
/* nombre de los profesionales*/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bubblegum+Sans&family=Estonia&family=Kaushan+Script&family=Knewave&family=Licorice&family=Love+Light&family=Luxurious+Roman&family=Merienda:wght@400;700&family=Mitr:wght@200&family=Niconne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Shadows+Into+Light&family=The+Nautigal:wght@700&family=Ubuntu:ital,wght@0,300;1,300&family=Vujahday+Script&display=swap");
/* paleta de colores */
/* fuentes */
/* tamaño fuentes */
/*margins - paddings*/
/* fuentes */
/* nombre de los profesionales*/
/* nombre de los profesionales*/
/* nav */
.navbar {
  background-color: pink !important;
  font-family: "Ubuntu", sans-serif !important;
  font-size: 20px;
}
.navbar a::first-letter {
  color: blueviolet;
  font-size: 30px;
}

.nav-link:hover {
  color: blueviolet !important;
  font-size: 30px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(./images/fondo8.svg);
  background-size: cover;
  background-position: top;
}

/* Encabezado */
header {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* carousel */
/*Fondos servicios*/
.servicio1, .servicio2 {
  margin-top: 30px;
  background-image: url(./images/fondo8.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/*imagen clientes*/
.cliente {
  margin-top: 10px;
}

.cfoto {
  align-content: center;
  justify-content: center;
  text-justify: newspaper;
}

.foto {
  padding: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid pink 2px;
}

.foto1 {
  background-image: url(./images/parra.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.foto2 {
  background-image: url(./images/bodega.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.foto3 {
  background-image: url(./images/Mendoza.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*footer*/
footer {
  margin-top: 10px;
  padding: 10px 0px 0px 0px;
  background-image: url(./images/fondo7.svg);
  background-size: cover;
  background-position: center;
  text-align: right;
}
footer .redes {
  text-align: center;
  font-size: 30px;
}
footer .redes .fab {
  padding: 0px 30px 0px 0px;
}
footer .contacto h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
}
footer .contacto ul li {
  list-style: none;
  font-family: "Bubblegum Sans", cursive;
  font-size: 10px;
}
footer .contacto p {
  font-family: "Merienda", cursive;
  font-size: 10px;
}

.fab:hover {
  color: blueviolet;
  font-size: 40px;
}

/* fin footer */
.card {
  border: solid 2px pink;
  margin: 10px;
  color: blueviolet;
}

/*# sourceMappingURL=style.css.map */
